
<img style="width:120px;" alt="heydu-logo" src="cid:heydu-logo" />
<div style="font-size:15px;font-family:Arial, Helvetica, sans-serif;margin-top:20px;">
    <p style="font-size:28px;">Hi there, 👋</p>
    <p style="margin-top:5px;">Please use below OTP to login into your account <%=(userEmail) %>.</p>
</div>
<div style="display:block;color:gray;font-size:35px;margin-top:10px;margin:auto;display:block;font-weight:bold;">
    <% for(let i=0; i < otp.length; i++) { %>
        <span style="padding:2px; box-shadow: 1px 1px 1px rgb(64, 65, 65);"><%= otp[i] %></span>
    <% } %>
</div>
<div style="margin-top:28px;font-size:15px;font-weight:semi-bold;font-family: sans-serif;">
    <span style="display:block">See you there 😃 !</span>
    <span style="display:block;font-size:16px;">Heydu Team</spa>
</div>
<p style="margin-top:17px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 18px; text-decoration:underline;font-weight: bold;">
    Please don't reply to this email. For any queries contact at <a href="mailto:connect@heydu.biz">connect@heydu.biz</a>
</p>
